
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-cd:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e806'; } /* '' */
.icon-folder:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-truck:before { content: '\e809'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
